<app-header></app-header>
<div class="container">
    <div class="confirmation-container">
        <h1>Đây là trang Order Confirm</h1>
        <p>Sử dụng Bootstrap</p>
    </div>
    <div class="row">
        <table>
            <thead>
                <tr>
                    <th scope="col" class="text-start">Sản phẩm</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Đơn giá</th>
                    <th scope="col">Tổng giá</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cartItem of cartItems">
                    <td>
                        <div class="product-info">
                            <img [src]="cartItem.product.thumbnail" alt="Product Image" class="product-image" />
                            <span class="product-name">{{ cartItem.product.name }}</span>
                        </div>
                    </td>
                    <td>{{ cartItem.quantity }}</td>
                    <td>{{ cartItem.product.price | currency : 'VND' : 'symbol' : '1.2-2' }}</td>
                    <td>{{ cartItem.product.price * cartItem.quantity | currency : 'VND' : 'symbol' : '1.2-2' }}</td>
                </tr>
            </tbody>
        </table>
        <!-- <div class="btn-right text-center mt-3">
            <button class="btn btn-gradient" type="button">Tiếp tục mua sắm</button>
        </div> -->
    </div>

    <div class="input-group mb-3 mt-3 col-6">
        <input type="text" class="form-control" [(ngModel)]="couponCode" placeholder="Mã giảm giá" />
        <div class="input-group-append" style="margin-left: 10px">
            <button class="btn btn-outline-secondary" type="button" (click)="applyCoupon()">Áp dụng mã</button>
        </div>
    </div>

    <!-- Hiển thị tổng tiền sau khi áp dụng giảm giá -->
    <p class="mb-0 btn-right">Tổng tiền: {{ totalPrice | currency : 'VND' : 'symbol' : '1.2-2' }}</p>
    <div class="btn-right text-center mt-3">
        <button class="btn btn-gradient" type="button">Đặt hàng</button>
    </div>
</div>
<app-footer></app-footer>
