<app-header></app-header>

<div class="container home-layout">
    <div class="filter-panel">
        <h4>Bộ lọc tìm kiếm</h4>
        <div *ngFor="let brand of brands">
            <label>
                <input type="checkbox" [checked]="selectedBrands.includes(brand)" (change)="onBrandToggle($event, brand)" />
                {{ brand }}
            </label>
        </div>
        <div class="filter-group">
            <div class="filter-title">Mức giá</div>
            <div *ngFor="let range of priceRanges">
                <label>
                    <input
                        type="radio"
                        name="priceRange"
                        [checked]="selectedPriceRange === range"
                        (change)="onPriceRangeChange(range)"
                    />
                    {{ range.label }}
                </label>
            </div>
        </div>
    </div>
    <div class="product-panel">
        <div class="row">
            <div class="col-lg-3 col-md-6" *ngFor="let product of products">
                <div class="product-item">
                    <img [src]="product.url" alt="" class="product-image" (click)="onProductClick(product.id)" />
                    <h3 class="product-name">{{ product.name }}</h3>
                    <p class="product-description">{{ product.description }}</p>
                    <p class="product-price">Giá: ${{ product.price }}</p>
                    <div class="product-action">
                        <button class="btn btn-primary" (click)="addToCart(product.id)">Thêm vào giỏ hàng</button>
                        <span class="space"></span>
                        <button class="btn btn-success">Mua hàng</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item" *ngIf="currentPage > 1">
                        <a class="page-link" href="#" (click)="onPageChange(1)">First</a>
                    </li>
                    <li class="page-item" *ngIf="currentPage > 1">
                        <a class="page-link" href="#" (click)="onPageChange(currentPage - 1)">Previous</a>
                    </li>
                    <ng-container *ngFor="let page of visiblePages">
                        <li class="page-item" [ngClass]="{ active: page === currentPage }">
                            <a class="page-link" href="#" (click)="onPageChange(page)">{{ page }}</a>
                        </li>
                    </ng-container>
                    <li class="page-item" *ngIf="currentPage < totalPages">
                        <a class="page-link" href="#" (click)="onPageChange(currentPage + 1)">Next</a>
                    </li>
                    <li class="page-item" *ngIf="currentPage < totalPages">
                        <a class="page-link" href="#" (click)="onPageChange(totalPages)">Last</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<app-footer></app-footer>
